body{
    background-color:rgb(43, 89, 226);
    
}

h1{
    text-align:center;
    color:blueviolet
} 

button{
    text-align:center;
    color:blueviolet
}
canvas{
    width: 800px;
    height:400px;
    text-align:center;
    color:white;
}